@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@media screen and (max-width: 1023px) {

    :root {
        --tumma: #333333;
        --vaalea: rgb(229, 229, 229);
    }


/*     SIVUN PÄÄMUOTOILUT     */

    body {
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        font-family: 'Poppins', 'sans-serif';
        background-color: white;
        color: var(--tumma);
    }

    main {
        flex-grow: 1;
        padding: 0;
    }



/*     HEADER & FOOTER     */

    header {
        display: none;
    }

    footer {
        display: none;
    }

    .header-mobile {
        padding: 0;
        margin-bottom: 2vh;
    }

    .header-worm {
        width: 48px;
        border: 1px solid var(--vaalea);
        border-radius: 6px;
        margin-right: 2vw;
    }

    .footer-mobile {
        position: static;
        bottom: 0;
        width: 100%;
    }

    .contact_info img {
        width: 20px;
        margin-right: 15px;
    }


/*     PAINIKKEET     */

    .btn-primary {
        background-color: var(--vaalea);
        color: var(--tumma);
        border-color: var(--tumma);
    }

    .btn-primary:hover {
        background-color: gray;
        border-color: var(--tumma);
    }

    .btn-primary:active {
        background-color: var(--tumma) !important;
    }

    .btn-secondary {
        background-color: var(--vaalea);
        border-color: var(--tumma);
        color: var(--tumma);
    }

    .btn-secondary:hover {
        background-color: gray;
        border-color: var(--tumma);
    }

    .btn-secondary:active {
        background-color: var(--tumma) !important;
    }

    .btn-outline-secondary {
        background-color: white;
        border-color: black;
        color: var(--tumma);
        font-weight: bold;
    }


/*     VALIKOT JA LINKIT     */

    .link {
        background-color: white;
    }

    .link img {
        width: 40px;
    }

    .link:hover {
        background-color: var(--vaalea);
    }

    .nav-item {
        margin-left: 4vw;
    }


/*     PELIALUE ym.     */

    canvas {
        display: none;
    }

    .mobiiliesto {
        margin-top: 5vh;
    }

    #appleImg {
        display: none;
    }

    #pointsHeader {
        display: none;
    }

    #hiScoreHeader {
        display: none;
    }

}