@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@media screen and (min-width: 1024px) {

    :root {
        --tumma: #333333;
        --vaalea: rgb(229, 229, 229);
    }


/*     SIVUN PÄÄMUOTOILUT     */

    body {
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        font-family: 'Poppins', 'sans-serif';
        background-color: white;
        color: var(--tumma);
    }

    main {
        flex-grow: 1;
        padding: 0;
    }

    h3 {
        margin-left: 2vw;
    }



/*     HEADER & FOOTER     */

    header {
        padding: 0;
        margin-bottom: 2vh;
    }

    .header-worm {
        width: 55px;
        border: 1px solid lightgray;
        border-radius: 6px;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .header-mobile {
        display: none;
    }

    .footer-mobile {
        display: none;
    }



/*     PAINIKKEET     */

    .btn-primary {
        background-color: gray;
        border-color: var(--tumma);
    }

    .btn-primary:hover {
        background-color: var(--vaalea);
        color: var(--tumma);
        border-color: var(--tumma);
    }

    .btn-primary:active {
        background-color: var(--tumma) !important;
    }

    .btn-secondary {
        background-color: var(--vaalea);
        border-color: var(--tumma);
        color: var(--tumma);
    }

    .btn-secondary:hover {
        background-color: gray;
        border-color: var(--tumma);
    }

    .btn-secondary:active {
        background-color: var(--tumma) !important;
    }

    .btn-outline-secondary {
        background-color: white;
        border-color: black;
        color: var(--tumma);
        font-weight: bold;
    }



/*     VALIKOT JA LINKIT     */

    .link {
        background-color: white;
    }

    .link img {
        width: 40px;
    }

    .link:hover {
        background-color: var(--vaalea);
    }



/*     PELIALUE ym.     */

    .mobiiliesto {
        display: none;
    }

    .gameArea {
        margin-top: 3vh;
        height: auto;
        width: fit-content;
        margin-left: 6vw;

    }

    .pointsArea {
        height: auto;
        width: fit-content;
        margin-left: 2vw;
    }

    .hiScoreArea {
        height: auto;
        width: fit-content;
        margin-left: 2vw;
    }

    .area {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        border: 4px lightgray solid;
        border-radius: 20px;
        padding-top: 8px;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 8px;
        box-shadow: 30px 30px 10px rgba(0, 0, 0, 0.4);
    }

    #appleImg {
        display: none;
    }
}